---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: manager-role
rules:
- apiGroups:
  - ""
  resources:
  - events
  verbs:
  - create
  - patch
- apiGroups:
  - ""
  resources:
  - secrets
  - services
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - crd.lagoon.sh
  resources:
  - databaserequests
  - mongodbproviders
  - relationaldatabaseproviders
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - crd.lagoon.sh
  resources:
  - databaserequests/finalizers
  - mongodbproviders/finalizers
  - relationaldatabaseproviders/finalizers
  verbs:
  - update
- apiGroups:
  - crd.lagoon.sh
  resources:
  - databaserequests/status
  - mongodbproviders/status
  - relationaldatabaseproviders/status
  verbs:
  - get
  - patch
  - update
