name: DBaaS controller tests

on: pull_request

jobs:
  test-suite:
    runs-on: ubuntu-latest
    continue-on-error: ${{ matrix.experimental }}
    strategy:
      fail-fast: false
      matrix:
        kindest_node_version: [
          "v1.29.14@sha256:8703bd94ee24e51b778d5556ae310c6c0fa67d761fae6379c8e0bb480e6fea29",
          "v1.30.10@sha256:4de75d0e82481ea846c0ed1de86328d821c1e6a6a91ac37bf804e5313670e507",
          "v1.32.2@sha256:f226345927d7e348497136874b6d207e0b32cc52154ad8323129352923a3142f",
        ]
        experimental: [false]
    steps:
    - name: Checkout
      uses: actions/checkout@v6
      with:
        fetch-depth: "0"

    - name: Create kind cluster
      uses: helm/kind-action@v1.14.0
      with:
        version: v0.27.0
        cluster_name: dbaas-controller
        node_image: kindest/node:${{ matrix.kindest_node_version }}
        kubectl_version: v1.32.2
        config: test-resources/test-suite.kind-config.yaml

    - name: Run github/test-e2e
      run: |
        make github/test-e2e KIND_NETWORK=kind
